.body {
  font-family: Rubik, sans-serif;
  color: #162438;
}

.navigation {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 1;
  padding-right: 25px;
  padding-left: 25px;
  background-color: transparent;
  color: #fff;
  -o-object-fit: fill;
  object-fit: fill;
}

.navbar-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
  max-width: 1170px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
}

.navbar-light {
  margin-top: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #fff;
  font-family: Montserrat, sans-serif;
}

.container-light-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.navbar-light-brand {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.company-name-block {
  display: block;
  padding-left: 0px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.nav-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  color: #fff;
}

.navbar-light-bold-link {
  display: none;
  margin-right: 10px;
  padding-right: 40px;
  padding-left: 40px;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: capitalize;
}

.navbar-light-bold-link:hover {
  color: #000;
}

.navbar-light-navbutton {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 20px;
  padding: 12px 30px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  border-radius: 5px;
  background-color: #1378f5;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.navbar-light-navbutton:hover {
  background-color: #242424;
}

.navbar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 15px;
  padding-bottom: 15px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border: 0px none #000;
  background-color: rgba(22, 36, 56, 0);
  color: #fff;
}

.logo {
  margin-top: 20px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.logo-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  color: #fff;
}

.overflow-wrapper {
  overflow: hidden;
}

.header {
  position: relative;
  z-index: 0;
  padding-right: 25px;
  padding-left: 25px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(22, 36, 56, 0.5)), to(rgba(22, 36, 56, 0.5))), url('../images/lincoln.png');
  background-image: linear-gradient(180deg, rgba(22, 36, 56, 0.5), rgba(22, 36, 56, 0.5)), url('../images/lincoln.png');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
}

.container {
  position: relative;
  max-width: 1170px;
  margin-right: auto;
  margin-left: auto;
}

.header-content {
  width: 50%;
  margin-left: 15px;
  padding-top: 200px;
  padding-bottom: 200px;
}

.heading {
  margin-top: 10px;
  margin-bottom: 20px;
  color: #fff;
  font-size: 44px;
  line-height: 60px;
  font-weight: 500;
  letter-spacing: -1px;
}

.h3 {
  opacity: 0.85;
  color: #fff;
  font-size: 26px;
  line-height: 40px;
  font-weight: 300;
  letter-spacing: -0.35px;
}

.full-quote {
  position: relative;
  margin-top: -90px;
  padding-right: 25px;
  padding-left: 25px;
}

.quote-background {
  margin-right: 15px;
  margin-left: 15px;
  padding: 40px 30px 25px;
  border-radius: 6px;
  background-color: #0e243f;
}

.full-quote-form-block {
  margin-bottom: 0px;
  color: #fff;
}

.full-quote-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.form-element {
  margin-bottom: 5px;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 33.33%;
  -ms-flex: 0 33.33%;
  flex: 0 33.33%;
}

.field-label {
  color: #fff;
  font-size: 13px;
  line-height: 18px;
  font-weight: 500;
}

.text-field {
  height: 50px;
  margin-bottom: 15px;
  padding-top: 9px;
  padding-right: 20px;
  padding-left: 20px;
  border: 1px none #000;
  background-color: #132b47;
  color: #fff;
  font-size: 13px;
  font-weight: 500;
}

.button {
  width: 100%;
  padding: 16px 40px;
  background-color: #1378f5;
  -webkit-transition: background-color 350ms linear;
  transition: background-color 350ms linear;
  color: #fff;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.25px;
}

.quote-div {
  margin-bottom: 20px;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-box-flex: 0;
  -webkit-flex: 0 33.33%;
  -ms-flex: 0 33.33%;
  flex: 0 33.33%;
}

.services {
  padding: 100px 25px 105px;
}

.titile-div {
  margin-right: 15px;
  margin-bottom: 40px;
  margin-left: 15px;
}

.title {
  margin-top: 10px;
  margin-bottom: 0px;
  font-size: 34px;
  line-height: 50px;
  letter-spacing: -0.75px;
}

.paragraph {
  color: #a2a9b4;
  font-size: 17px;
  line-height: 30px;
}

.paragraph.small {
  font-size: 16px;
  line-height: 25px;
}

.services-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.service-wrapper {
  margin-top: 60px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.service-wrapper.two {
  margin-top: 30px;
}

.service-wrapper.three {
  margin-top: 0px;
}

.service-item {
  margin-right: 15px;
  margin-left: 15px;
}

.image {
  width: 100%;
  max-width: none;
  min-height: 185px;
}

.service-image {
  width: 100%;
  min-height: 185px;
  border-radius: 6px;
  background-image: url('../images/events.jpg');
  background-position: 50% 50%;
  background-size: cover;
  -webkit-transition: color 350ms ease;
  transition: color 350ms ease;
}

.service-image.two {
  background-image: url('../images/wedding.jpg');
}

.service-image.three {
  background-image: url('../images/party.jpg');
}

.service-data {
  padding: 10px 20px 15px;
}

.service-title {
  color: #565c66;
}

.advantages {
  padding: 140px 25px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e2e8ef), color-stop(75%, rgba(226, 229, 234, 0.75)));
  background-image: linear-gradient(180deg, #e2e8ef, rgba(226, 229, 234, 0.75) 75%);
}

.advantages-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.advantages-image-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 15px;
  margin-left: 15px;
  padding-right: 20px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-flex: 0;
  -webkit-flex: 0 33.33%;
  -ms-flex: 0 33.33%;
  flex: 0 33.33%;
}

.advantages-image {
  width: 300%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  border-radius: 6px;
  background-image: url('../images/escalade.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.advantages-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 15px;
  margin-left: 15px;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-box-flex: 0;
  -webkit-flex: 0 66.66%;
  -ms-flex: 0 66.66%;
  flex: 0 66.66%;
}

.advantages-block {
  padding: 20px 40px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 50%;
  -ms-flex: 0 50%;
  flex: 0 50%;
}

.advantage-image {
  margin-bottom: 5px;
}

.heading-2 {
  margin-top: 10px;
  font-size: 17px;
  line-height: 28px;
  letter-spacing: -0.1px;
}

.footer {
  margin-top: 120px;
  padding: 100px 25px 115px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0a1a2e), to(#0e243f));
  background-image: linear-gradient(180deg, #0a1a2e, #0e243f);
}

.footer-contact {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-contact-info {
  margin-right: 15px;
  margin-left: 15px;
}

.footer-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.footer-link-image {
  margin-right: 15px;
}

.footer-link-block {
  color: #565c66;
}

.footer-link-text {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #fff;
  font-size: 24px;
  line-height: 32px;
  font-weight: 300;
}

.footer-contact-form {
  margin-right: 15px;
  margin-left: 15px;
}

.right-quote-background {
  width: 420px;
  margin-top: -220px;
  padding: 45px;
  border-radius: 6px;
  background-color: #0e243f;
}

.right-quote-form-block {
  margin-bottom: 0px;
}

.field-label-2 {
  margin-bottom: 8px;
  color: #fff;
  font-size: 13px;
  line-height: 18px;
  font-weight: 500;
}

.text-field-2 {
  background-color: #132b47;
}

.field-label-3 {
  margin-bottom: 8px;
  color: #fff;
  font-size: 13px;
  line-height: 18px;
  font-weight: 500;
}

.text-field-3 {
  overflow: auto;
  height: 100px;
  max-height: 150px;
  max-width: 100%;
  margin-bottom: 15px;
  padding-top: 0px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 4px;
  background-color: #132b47;
  color: #fff;
  font-size: 13px;
  font-weight: 500;
}

.footer-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer-alt-left {
  margin-right: 15px;
  margin-left: 15px;
}

.footer-alt-right {
  margin-right: 15px;
  margin-left: 15px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.heading-3 {
  margin-bottom: 0px;
  color: #5f5f5f;
  font-size: 16px;
  line-height: 25px;
  text-align: right;
}

@media screen and (max-width: 991px) {
  .container-light-nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .navbar-light-navbutton {
    margin: 15px 20px 20px;
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }

  .menu-button {
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }

  .navbar-light-icon {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    color: #5343ff;
  }

  .header-content {
    width: 75%;
  }

  .quote-background {
    padding: 25px 20px 10px;
  }

  .form-element {
    padding-right: 10px;
    padding-left: 10px;
  }

  .quote-div {
    padding-right: 10px;
    padding-left: 10px;
  }

  .right-quote-background {
    width: auto;
  }
}

@media screen and (max-width: 767px) {
  .navigation {
    padding-right: 0px;
    padding-left: 0px;
  }

  .navbar-div {
    max-width: 100%;
    padding-right: 0px;
    padding-left: 0px;
  }

  .container-light-nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .nav-menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .navbar-light-navbutton {
    display: block;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 152px;
    padding: 15px 20px;
    text-align: center;
  }

  .menu-button {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .navbar {
    padding-right: 10px;
    padding-left: 25px;
  }

  .header-content {
    width: 75%;
    padding-top: 150px;
    padding-bottom: 175px;
  }

  .heading {
    font-size: 36px;
    line-height: 48px;
  }

  .h3 {
    font-size: 24px;
    line-height: 36px;
  }

  .form-element {
    padding-right: 10px;
    padding-left: 10px;
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
  }

  .services {
    padding: 75px 10px 45px;
  }

  .title {
    font-size: 28px;
    line-height: 40px;
  }

  .services-div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .service-data {
    padding-right: 125px;
    padding-left: 0px;
  }

  .advantages {
    padding: 90px 10px 65px;
  }

  .advantages-div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .advantages-image-div {
    margin-bottom: 50px;
    padding-right: 0px;
  }

  .advantages-image {
    width: 100%;
    height: 300px;
  }

  .advantages-block {
    padding-right: 25px;
    padding-left: 0px;
  }

  .footer {
    padding-right: 10px;
    padding-bottom: 30px;
    padding-left: 10px;
  }

  .footer-contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }

  .footer-contact-info {
    margin-top: 90px;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }

  .footer-contact-form {
    -webkit-box-flex: 0;
    -webkit-flex: 0 40%;
    -ms-flex: 0 40%;
    flex: 0 40%;
  }

  .right-quote-background {
    width: auto;
    margin-top: -200px;
  }
}

@media screen and (max-width: 479px) {
  .navigation {
    padding-right: 0px;
    padding-left: 0px;
  }

  .navbar-div {
    height: 72px;
    max-width: 100%;
    padding-right: 0px;
    padding-left: 0px;
  }

  .company-name-block {
    margin-top: 19px;
    font-size: 12px;
  }

  .nav-menu {
    display: none;
  }

  .navbar-light-navbutton {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    max-width: 80px;
    margin: 35px 0px 0px;
    padding: 10px 15px 5px;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.25px;
  }

  .navbar-light-navbutton:hover {
    background-color: #fff;
  }

  .menu-button {
    display: none;
  }

  .navbar-light-icon {
    display: none;
    margin-left: 20px;
    padding: 14px 15px;
  }

  .navbar {
    padding: 12px 5px 12px 20px;
  }

  .logo {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .logo-div {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-left: 0px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .header {
    padding-right: 5px;
    padding-left: 5px;
  }

  .header-content {
    width: 85%;
    padding-top: 110px;
    padding-bottom: 150px;
  }

  .heading {
    font-size: 32px;
    line-height: 44px;
  }

  .h3 {
    font-size: 22px;
    line-height: 32px;
  }

  .full-quote {
    padding-right: 5px;
    padding-left: 5px;
  }

  .quote-background {
    padding: 25px 15px 10px;
  }

  .form-element {
    padding-right: 10px;
    padding-left: 10px;
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }

  .button {
    border-radius: 4px;
  }

  .quote-div {
    padding-right: 10px;
    padding-left: 10px;
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }

  .services {
    display: block;
    padding: 60px 5px 25px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }

  .title {
    font-size: 25px;
    line-height: 38px;
  }

  .services-div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .service-wrapper.one {
    margin-top: 0px;
    margin-bottom: 30px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .service-image {
    display: inline-block;
    min-height: 220px;
    min-width: 280px;
  }

  .service-data {
    padding-right: 35px;
    padding-left: 0px;
  }

  .service-title {
    font-size: 19px;
    line-height: 32px;
  }

  .advantages {
    padding: 70px 5px 40px;
  }

  .advantages-div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .advantages-image-div {
    margin-bottom: 35px;
    padding-right: 0px;
  }

  .advantages-image {
    width: 100%;
    height: 300px;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
  }

  .advantages-block {
    padding-right: 25px;
    padding-bottom: 0px;
    padding-left: 0px;
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }

  .footer {
    padding-right: 5px;
    padding-bottom: 20px;
    padding-left: 5px;
  }

  .footer-contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }

  .footer-contact-info {
    margin-top: 50px;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }

  .footer-link-block {
    font-size: 16px;
    line-height: 25px;
    text-decoration: none;
  }

  .footer-link-text {
    font-size: 20px;
    line-height: 28px;
    text-decoration: none;
  }

  .footer-contact-form {
    -webkit-box-flex: 0;
    -webkit-flex: 0 40%;
    -ms-flex: 0 40%;
    flex: 0 40%;
  }

  .right-quote-background {
    width: auto;
    padding: 25px;
    border-radius: 0px;
  }

  .text-field-2 {
    border: 1px none #000;
  }

  .text-field-3 {
    border: 1px solid #000;
    border-radius: 0px;
  }

  .footer-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .heading-3 {
    color: #353535;
  }
}

